<section class="container">
  <form class="formulario" (submit)="gravar()">
    <h2 class="formulario_titulo">Novo Evento</h2>

    <div class="form-field">
      <label class="form-field_label" for="nome">Nome</label>
      <input class="form-field_input" id="nome" type="text" name="nome" [(ngModel)]="nome">
    </div>

    <div class="form-field">
      <label class="form-field_label" for="descricao">Descrição</label>
      <input class="form-field_input" id="descricao" type="text" name="descricao" [(ngModel)]="descricao">
    </div>

    <div class="form-field">
      <label class="form-field_label" for="data">Data</label>
      <input class="form-field_input" id="data" type="text" name="data" [(ngModel)]="data">
    </div>

    <div class="form-field">
      <label class="form-field_label" for="local">Local</label>
      <input class="form-field_input" id="local" type="text" name="local" [(ngModel)]="local">
    </div>

    <div class="form-field">
      <label class="form-field_label" for="participantes">Participante</label>
      <input class="form-field_input" id="participantes" type="text" name="participantes" [(ngModel)]="participantes">
    </div>

    <div class="botao-wrapper">
      <button routeLink="gravar()" class="botao" type="submit">Gravar</button>
    </div>
  </form>
</section>
